* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

/* navbar */
.section-1 {
    background-color: #150E2A;
    border-bottom: 1px solid dimgray;
}
.navbar {
    width: 85%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}
.logo {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
.logo .part-2 {
    color: #D434FE;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.navlinks ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.navlinks ul li {
    list-style: none;
}
.btn button {
    padding: 10px 35px;
    font-size: 16px;
    background-image: linear-gradient(to right, #903AFF, #D434FE, #FF26B9, #FE34B9);
    border-radius: 2px;
    border: none;
    color: white;
}

/* Hero Section */
.section-2 {
    background-color: #150E2A;
}
.section-2 .hero {
    padding-top: 2%;
    color: white;
    width: 85%;
    margin: 0 auto;
}
.hero-head {
    margin-bottom: 5%;
    font-size: 18px;
    font-style: italic;
    line-height: 20px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}

.hero-body {
    display: flex;
    justify-content: space-between;
}

.body-1 {
    position: relative;
    top: 60px;
}

.body-1 .idea {
    position: relative;
    left: 300px;
    width: 50px;
}

.hack {
    display: flex;
    align-items: center;
}
.hack img {
    width: 50px;
}

.hero-body-head {
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5%;
}
.hero-body-para {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 10%;
}
.hero-timer {
    display: flex;
    gap: 20px;
    font-family: "Unica One", sans-serif;
}
.hero-timer .sig-span {
    font-size: 42px;
}
.hero-timer .less-span {
    font-size: 12px;
}

.body-2 {
    position: relative;
    right: 0;
    left: 100px;

}

.body-2 .image-1 {
    position: absolute;
    width: 600px;
}
.body-2 .image-2 {
    width: 600px;
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
    }
    .hero-body {
        flex-direction: column;
    }
    .body-1 {
        margin-bottom: 20%;
        top: 20px;
    }
    .body-2 {
        left: 0;
    }
    .body-2 .image-1 {
        width: 350px;
    }
    .body-2 .image-2 {
        width: 350px;
    }
    .body-1 .idea {
        left: 80px;
        width: 25px;
    }
    .hero-head {
        font-size: 10px;
        text-align: center;
        justify-content: center;
        margin-bottom: 1%;
    }
    .hero-body-head {
        font-size: 16px;
        line-height: 13px;
    }
    .hero-body-para {
        font-size: 13px;
    }
    .hero-timer {
        justify-content: center;
        text-align: center;
    }
    .hack {
        justify-content: center;
    }
    .hack img {
        width: 30px;
    }
}

@media (min-width: 820px) and (max-width: 1180px) {
    .body-2 {
        position: relative;
        right: 0;
        left: 10px;
    }
    .body-2 .image-1 {
        position: absolute;
        width: 350px;
    }
    .body-2 .image-2 {
        width: 350px;
    }
}


/* Footer */
.section-10 {
    background-color: #150E2A;
    margin-top: 60vh;
}
.section-10 footer {
    color: white;
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer .get-foot {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.para-footer {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.get-foot .terms {
    margin-top: 12%;
}
.terms-2 {
    color: #D434FE;
    font-size: 18px;
    font-weight: 600;
}

.useful {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 10px;
}
.useful h3 {
    color: #D434FE;
}
.useful ul li {
    list-style: none;
}
.useful ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 10px;
}
.contact h3 {
    color: #D434FE;
}
.contact p {
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact i {
    font-size: 16px;
}
.fa-map-marker {
    position: relative;
    top: -20px;
}
.socials {
    display: flex;
    gap: 10px;
    align-items: center;
}
.socials span {
    font-size: 12px;
    color: #D434FE;
}
.socials i {
    font-size: 20px;
}

.copy-right {
    margin-top: 5%;
    text-align: center;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 40px;
        padding-bottom: 15%;
    }
    .copy-right {
        padding-bottom: 15%;
    }
}